[submodule "0chain-sdk"]
	path = 0chain-sdk
	url = https://github.com/future-tense/0chain-sdk.git
	branch = gh-pages
[submodule "stellar-option"]
	path = stellar-option
	url = https://github.com/future-tense/stellar-option.git
	branch = gh-pages
[submodule "ed25519-box"]
	path = ed25519-box
	url = https://github.com/future-tense/ed25519-box.git
	branch = gh-pages
[submodule "stellar-box"]
	path = stellar-box
	url = https://github.com/future-tense/stellar-box.git
	branch = gh-pages
[submodule "secret-memo"]
	path = secret-memo
	url = https://github.com/future-tense/secret-memo.git
	branch = gh-pages
